@import '../../sass/themes/colors';

.input {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin-bottom: 25px;

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    background-clip: text !important;
    -webkit-text-fill-color: $secondary !important;
  }

  label, input {
    padding: 5px 10px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center;   
    border: none;    
    border: 1px  solid $grey-ligth;
    border-radius: 5px;
    width: 100%;

    i {
      width: 30px;
      display: block;
      padding: 5px 10px;
      line-height: 18px;
    }

    input {
      flex: 1 1 auto;
      width: 100%;
      outline: none;
      border: none;
      caret-color: $secondary;
      font-size: 1rem;
      transition: border .3s ease-in-out;
      z-index: 2;    
      border-radius: 5px;  
      background: transparent;
      color: $secondary!important;
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  label {
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.5;
    line-height: 1.3rem;
    transform-origin: center left;
    transition: transform .15s ease-in-out;

    &.indent {
      left: 25px;
    }
  }

  &__error-message {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $danger!important;
  }

  &--focus, &--active {
    label {  
      opacity: 1;    
      transform: translate(-5px, -25px) scale(0.85);
    }
  }

  &--focus {
    label { 
      color: $primary;
    }

    .input__content {
      border: 1px  solid $primary;

      i {
        color: $primary;
      }
    }
  }

  &--error {
    label, input {      
      color: $danger!important;
    }

    .input__content {
      border: 1px  solid $danger;
    }
  }

  &--read {     
    .input__content, input { 
      cursor: pointer;      
    } 
  }
}

