@import '../../sass/abstract/variables';

#footer {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-left: 180px!important;
  opacity: 0.5;
}

@media (max-width: $screen-md) {
  #footer {
    margin-left: 0!important;
  }
}

